.header{
  background: url("http://www2.hawaii.edu/~andrewpw/StoreHeader.jpg");
  background-size: cover;
  background-position: center;
  height: 250px;
}

.img-one{
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  height: 400px;
}

.nav>li.disabled>a{
  color:fff;
  text-align: center;
}

.side{
  padding-top: 120px;

}

.shoe-display{
  text-align: center;
}

.carousel-indicators .active{
  background-color: #AFFD74;
}

.carousel-indicators li {
  border: 1px solid #AFFD74;
}

.carousel-caption{
  color: #AFFD74;
}

.login{
  padding-top: 10px;
}