@(loggedIn: Boolean, user: String, product: Product)
@import bootstrap3.navbar

@Main("Home") {
  @navbar(user, loggedIn, "Home")
  <div class = "container">
    <div class ="row">
     <div class="col-md-4 col-md-offset-4">
       <div class = "well shoe-display">
         <p>@product.getDescription()</p>
       </div>
     </div>
     <div class ="col-md-4">
       @if(loggedIn == true){
         <a href="@routes.Application.shoppingCart(product.getName())" class="btn btn-inverse btn-lg" 
         role="button">Add to Shopping Cart</a>
       } else {
         <a href="#" class="btn btn-inverse btn-lg" 
         role="button">Login to add items to shopping cart</a>
       }
     </div>
    </div>
    <div class = "row">
      <div class="col-md-offset-4 col-md-4 col-md-offset-4">
        <div class="well">
          <div class ="img-one" style = "background-image: 
          url(@product.getUrl())"></div>
        </div>
       </div>
     </div>
   </div>
    
}