@(cList: List[Contact])

@Main("Home") {
   <div class="container">
     <h1>CURRENT CONTACTS</h1>
     <table class= "table table-striped table-bordered">
       <tr>
         <th>First</th>
         <th>Last</th>
         <th>Telephone</th>
       </tr>
       @for(contact <- cList){
       <tr>
         <td>@contact.getFirst()</td><td>@contact.getLast()</td>
         <td><a href = "@contact.telToString()">@contact.getTel()</a></td>
         <td>@contact.getTelType()</td>
         <td><a href="@routes.Application.newContact(contact.getId())" class="btn btn-warning">Edit</a></td>
         <td><a href="@routes.Application.deleteContact(contact.getId())" class="btn btn-danger">Delete</a></td>
       </tr>
       }
     </table>
   </div>
}
