@(types: String, contact: Contact, username: String, sort: Integer)
@import bootstrap3.navbar

@Main("") {
  @if(contact != null){
   @navbar(username, true, contact.getName())
  } else {
   @navbar("", false, "")
  }
  @if(flash.containsKey("error")){
       <div class = "well">
         <div class="alert alert-error">@flash.get("error")</div>
       </div>
     } 
   <div class="row">
  </div>
   <div class = "container">
   @if(sort == 0){
     @for((product, index) <- ProductDB.getShoeList(types).zipWithIndex){
       @if(index % 3 == 0){
        <div class="row">
        <div class="col-md-3 side">
          <div class="navbar navbar-inverse" role="navigation">
              <div class="collapse navbar-collapse">
                <ul class="nav nav-pills nav-stacked">
                  <li class ="disabled"><a href="#">Sort By</a></li>
                  <li><a href="@routes.Application.sort(types)">Size</a></li>
                </ul>
              </div>
          </div>
        </div>
       }
     <div class="col-md-3">
        <div class="well">
        <p>Name: @product.getName()</p>
        <a href = "@routes.Application.display(product.getName())">
          <div class ="img-one" style = "background-image: 
          url(@product.getUrl())"></div>
        </a>
        <p>size: @product.getSize()</p>
        </div>
      </div>
      @if(index % 3 == 2){
       </div>
      }
    }
  } else {
   @for((product, index) <- ProductDB.getSortList(types).zipWithIndex){
       @if(index % 3 == 0){
        <div class="row">
        <div class="col-md-3 side">
          <div class="navbar navbar-inverse" role="navigation">
              <div class="collapse navbar-collapse">
                <ul class="nav nav-pills nav-stacked">
                  <li class ="disabled"><a href="#">Sort By</a></li>
                  <li><a href="@routes.Application.sort(types)">Size</a></li>
                </ul>
              </div>
          </div>
        </div>
       }
     <div class="col-md-3">
        <div class="well">
        <p>Name: @product.getName()</p>
        <a href = "@routes.Application.display(product.getName())">
          <div class ="img-one" style = "background-image: 
          url(@product.getUrl())"></div>
        </a>
        <p>size: @product.getSize()</p>
        </div>
      </div>
      @if(index % 3 == 2){
       </div>
      }
    }
  }
    
  </div>
}
