@(loggedIn: Boolean, user: String)
@import bootstrap3.navbar

@Main("ShoppingCart") {
  @navbar(user, loggedIn, "ShoppingCart")
  
  <div class="container">
  <div class="row">
  <div class="col-md-offset-8 col-md-4">
  <a href="@routes.Application.checkout()" class="btn btn-inverse btn-lg" 
       role="button">Checkout</a>
  </div>
  </div>
  @for(shoe <- ShoppingCartDB.getShoppingList()){
   @System.out.println(shoe.getIndex())
   @if(shoe.getIndex() == 0){
    <div class="row">
   }
   <div class="col-md-4">
      <div class="well">
      <a href = "@routes.Application.display(shoe.getName())">
        <div class ="img-one" style = "background-image: 
        url('@shoe.getUrl()')"></div>
      </a>
      </div>
    </div>
    @if(shoe.getIndex() == 0){
    </div>
   }
  }  
  </div>
  
}